@use "../../styles/colors.scss";

.confirmation-to-remove-modal {
  width: 100%;
  height: 110%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  & .modal-button{
    width: 80%;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.yes-button-light{
  background-color: colors.$button-theme-light-mode;
  color: colors.$light-mode-text;
}

.yes-button-dark{
  background-color: colors.$button-theme-dark-mode;
  color: colors.$dark-mode-text;
}

.no-button-light{
  background-color: colors.$light-mode-text;
  color: colors.$button-theme-light-mode;
}

.no-button-dark{
  background-color: colors.$dark-mode-text;
  color: colors.$button-theme-dark-mode;
}


