
.removed-modal{
    position: fixed;
    background-color: black;
    top: 80px;
    right: 0;
    height: 50px;
    width: 225px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    
}

@media screen and (min-width: 399px) {
    .removed-modal{
        width: 300px;
    }
}