@use "../../styles/colors.scss";

.movie-by-genre {
  width: 200px;
  height: 300px;
  position: relative;
  border: 1px solid #000000;
  border-radius: 5px;

  &__popularity {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
    & span {
      margin-inline-start: 10px;
      color: white;
    }
  }
  &__title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    opacity: 0;
  }
  &:hover {
    .movie-by-genre__title,
    .movie-by-genre__popularity {
      opacity: 1;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

.link {
  text-decoration: none;
}

.movie-by-genre-icon {
  width: 20px;
  height: 20px;
  &-light{
    color: colors.$light-mode-third;
  }
  &-dark{
    color: colors.$dark-mode-text;
  }
}



@media screen and (max-width: 769px) {
  .movie-by-genre__title,
  .movie-by-genre__popularity {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 8px rgb(255,255,255);
   box-shadow: inset 2px 2px 112px -15px rgba(0,0,0,0.8);
  }
}
