@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";


.change-container{
    width: 50px;
    height: 10px;
    
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &__circle{
        width:  25px;
        height: 25px;
        
        border-radius: 50%;
        position: absolute;
        bottom: -8px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon{
            width: 90%;
            
        }
        
    }
}

.light-button{
   
    @include mixins.themeGeneratorCustomButtom(colors.$button-theme-light-mode, colors.$light-mode-third);

}

.dark-button{
    @include mixins.themeGeneratorCustomButtom(colors.$button-theme-dark-mode, colors.$dark-mode-third);  
}

.text-button{
    display: flex;
    justify-content: center;
    align-items: center;
}