
$dark-mode-primary: #1a1818;
$dark-mode-secondary: #282A3A;
$dark-mode-third: #735F32;
$dark-mode-text: #C69749;
$light-mode-primary: #FAF8F1;
$light-mode-secondary: #FAEAB1;
$light-mode-third: #E5BA73;
$light-mode-text: #C58940;

$button-theme-dark-mode: #282A3A;
$button-theme-light-mode: #FAEAB1;

