
$dark-mode-primary: #100F0F;
$dark-mode-secondary: #0F3D3E;
$dark-mode-third: #E2DCC8;
$dark-mode-text: #F1F1F1;
$light-mode-primary: #F9F7F7;
$light-mode-secondary: #DBE2EF;
$light-mode-third: #3F72AF;
$light-mode-text: #112D4E;

$button-theme-dark-mode: #165d5e;
$button-theme-light-mode: #eae6e6;