@use "./colors.scss";


.light {
    background-color: colors.$light-mode-primary;
    
    .text{
        color: colors.$light-mode-text;
    }

    
}

.dark {
    background-color: colors.$dark-mode-primary;
    
    .text{
        color: colors.$dark-mode-text;
    }

   
}

.scroll-bar-light{
    &::-webkit-scrollbar{
      background-color: colors.$light-mode-primary;
      width: 0.5em;
  
    }
  
    &::-webkit-scrollbar-thumb{
      background-color: colors.$light-mode-third;
      border-radius: 5px;
  
      &:hover{
        background-color: colors.$light-mode-text;
      }
    }
  
    
  }
  
  .scroll-bar-dark{
    &::-webkit-scrollbar{
      background-color: colors.$dark-mode-primary;
      width: 0.5em;
  
    } 
  
    &::-webkit-scrollbar-thumb{
      background-color: colors.$dark-mode-third;
      border-radius: 5px;
  
      &:hover{
        background-color: colors.$dark-mode-text;
      }
    }
  }

