$dark-mode-black: #100F0F;
$dark-mode-green: #0F3D3E;
$dark-mode-yellow: #E2DCC8;
$dark-mode-white: #F1F1F1;
$light-mode-white: #F9F7F7;
$light-mode-light-blue: #DBE2EF;
$light-mode-blue: #3F72AF;
$light-mode-dark-blue: #112D4E;
