.trending-movie {
  min-width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
  margin-inline-end: 30px;
  position: relative;
  display: flex;

  &__vote-average {
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(44, 46, 74);
    font-size: 18px;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
  }
}

.star-icon {
  color: rgb(213, 213, 38);
}

