@use "../../styles/variables.scss";

.movie-overview{
    width: 100%;
    height: 150px;
    font-size: variables.$text-desktop;
    float: right;
    position: relative;
    padding-block-start: 20px;

    &__text{
        position: absolute;
        width: 60%;
        right: 10%;
    }
    
    
}

@media screen and (max-width: 1300px){

    .movie-overview{
        &__text{
            right: 5%;
        }
    }

}