@use "../../styles/colors.scss";

.mobile-search-results {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  top: 100px;
  background-color: colors.$light-mode-primary;

  &__item{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
  }
}

.form-submit-mobile{
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-block-start: 60px;
}
