@use "../../styles/colors.scss";

.mobile-search-results {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 100px;
  background-color: colors.$light-mode-primary;

  &__item {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
  }
}

.form-submit-mobile {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-block-start: 60px;
}

@media screen and (min-width: 600px) {
  .mobile-search-results {
    padding: 0 10%;
  }
}

.input-mobile-light {
  background-color: colors.$light-mode-primary;
  border: 2px solid colors.$light-mode-secondary;
  color: colors.$light-mode-text;
  &::placeholder {
    color: colors.$light-mode-text;
  }
}

.input-mobile-dark {
  background-color: colors.$dark-mode-primary;
  border: 2px solid colors.$dark-mode-secondary;
  &::placeholder {
    color: colors.$dark-mode-text;
  }
  caret-color: colors.$dark-mode-third;
  color: colors.$dark-mode-text;
}

.search-button-mobile-light{
  background-color: colors.$button-theme-light-mode;
  color: colors.$light-mode-text;
}

.search-button-mobile-dark{
  background-color: colors.$button-theme-dark-mode;
  color: colors.$dark-mode-text;
}