@use "../../styles/colors.scss";

.container {
  display: flex;
}

.icon {
  z-index: 99;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.menu-container {
  width: 100%;
  max-width: 400px;
  height: 90%;
  z-index: -3;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(4em);
  user-select: none;
  padding: 1em 2.5em;
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0.8em 0 10px;
}

.menu-container-light{
  box-shadow: -2px 0 2px colors.$light-mode-text;
}

.menu-container-dark{
  box-shadow: -2px 0 2px colors.$dark-mode-text;
}

.favourite-movies-section {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-block-start: 50px;
}

.favourite-page-link{
  width: 105%;
  display: flex;
  justify-content: center;
  padding-block-end: 10px;
  

  & a{
    width: 200px;
    margin-block-start: 10px;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
  }
}

.favourite-page-link-light{
  box-shadow: 0px -5px 15px -4px colors.$light-mode-text;
  & a{
    background-color: colors.$button-theme-light-mode;
    border-color: colors.$light-mode-text;
    color: colors.$light-mode-text;
  }
}
.favourite-page-link-dark{
  box-shadow: 0px -5px 15px -4px colors.$dark-mode-text;

  & a{
    background-color: colors.$button-theme-dark-mode;
    border-color: colors.$dark-mode-text;
    color: colors.$dark-mode-text;
  }
}

.no-movies-text{
  text-align: center;
  font-size: 24px;
  display: flex;
  height: 400px;
  align-items: center;
}




