
button{
    z-index: 99;
    
}

.background{
    width: 30px;
    height: 30px;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    & svg{
        width: 60%;
        height: 80%;
    }
}