@use "../../styles/variables.scss";
@use "../../styles/colors.scss";

.general-info {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  font-size: variables.$text-desktop;
  padding-block-start: 100px;

  &__aside {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-inline-end: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px;

    & span {
      text-align: center;
    }
  }
}

.link {
  text-decoration: none;
}

.aside-light{
  background-color: colors.$light-mode-secondary;
  border: 2px solid colors.$light-mode-third;
}

.aside-dark{
  background-color: colors.$dark-mode-primary;
  border: 2px solid colors.$dark-mode-third;
}

@media screen and (max-width: 1023px) {
  .general-info{
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 1000px;

   &__aside{
    width: 90%;
    height: 50%;
    max-width: 350px;
    margin: 0;
   }
  }
}