@use "./styles/variables.scss";
@use "./styles/colors.scss";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: variables.$font-family;
   overflow: overlay;
  

    &::-webkit-scrollbar{
        width: 0.8em;
        
    
      }
    
      &::-webkit-scrollbar-thumb{
        background-color: colors.$light-mode-third;
        border-radius: 5px;
    
        &:hover{
          background-color: colors.$light-mode-text;
        }
      }
    
}

