@use "../../styles/colors.scss";

.favourite-movies-section {
  &__movie {
    width: 100%;
    display: grid;
    grid-template-columns: 27% 73%;
    align-items: center;
    margin-block-end: 15px;
    text-decoration: none;

    &-light:hover {
      background-color: colors.$light-mode-text;

      & h4 {
        color: colors.$light-mode-primary;
      }
    }

    &-dark:hover {
      background-color: colors.$dark-mode-text;

      & h4 {
        color: colors.$dark-mode-primary;
      }
    }

    & h4 {
      margin-inline-start: 10px;
    }

    &-remove {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      margin-block-end: 15px;
      cursor: pointer;

      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.trash-icon-light {
  color: colors.$light-mode-text;
}

.trash-icon-dark {
  color: colors.$dark-mode-text;
}

.animation-div {
  display: grid;
  grid-template-columns: 80% 20%;
}

@media screen and (max-width: 374px) {
  .favourite-movies-section {
    & h4 {
      margin-inline-start: 20px;
    }
  }
}
